*.class
*.log
*.sc
ensime.sbt
compile_run.sh
compile_run_scalaspl.sh
.ensime_cache/*
*.cache
project/project/*
project/target/*
project/.bloop/*
project/build.properties
target/*
.idea/
.bloop/*
.metals/*
cp.sh
*.ipynb
.bsp
build
*.tgz
*.tar.gz